version: '7.5'

compose:
  files:
    - docker-compose.yml
    - docker-compose.agraph.yml
    # uncomment docker-compose.dev.yml for active development; it will mount local project directory in the container
    #  - docker-compose.dev.yml
  project_name: ontoportal

interaction:

  ag-create-repo:
    description: Create AG database and set up permissions
    service: agraph
    command: sh -c "agraph-control --config /agraph/etc/agraph.cfg start && agtool repos create ontoportal && agtool users add anonymous && agtool users grant anonymous root:ontoportal:rw"
    compose_run_options: [ no-deps ]

provision:
  # example on how to provision API. It requires OP_APIKEY env variable
  - dip compose down --volumes

  # create AllegroGraph repository.  Enable if working with AG
  - dip ag-create-repo

  - dip cron bundle exec rake user:create[admin,admin@nodomain.org]
  - dip cron bundle exec 'bin/ncbo_ontology_import --admin-user admin --ontologies ${STARTER_ONTOLOGY} --from-apikey ${OP_APIKEY} --from ${OP_API_URL}'
  - dip cron bundle exec 'bin/ncbo_ontology_pull -o ${STARTER_ONTOLOGY}'
  - dip cron bundle exec 'bin/ncbo_ontology_process -o ${STARTER_ONTOLOGY}'
